data/nsynth-test.jsonwav.tar.gz filter=lfs diff=lfs merge=lfs -text
models/**/*.pt filter=lfs diff=lfs merge=lfs -text
wewantCNNs_project/models/nf_checkpoint_20250731-021809.pt filter=lfs diff=lfs merge=lfs -text
